/********** Template CSS **********/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
    --text-primary: #fff;
    --button-anim-color: #54E6E7;
    --secondary: #242026;
    --tertiary: #555555;
    --light: #DFE4FD;
    --dark: #000B1C;
    /* --font-style: 'Nunito Sans', sans-serif;*/
    --font-style: 'Montserrat', sans-serif;
    --form-hideText: #8F7CEC;
    --submit-color: #CBBDDB;
}

h1 {
    color: var(--text-primary);
}

/*******  Button  ******/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-style);
    width: 100%;
    background: var(--dark);
}

.startQuiz-container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startQuiz-container button {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: 32px;
    cursor: pointer;
    margin: 10px 10px;
    background: #1A2929;
}

.startQuiz-container button span {
    display: block;
    padding: 15px 60px;
}

.startQuiz-container button::before,
.startQuiz-container button::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--button-anim-color);
}

.startQuiz-container button span::before,
.startQuiz-container button span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--button-anim-color);
}

.startQuiz-container button:hover::before,
.startQuiz-container button:hover::after {
    width: 100%;
}

.startQuiz-container button:hover span::before,
.startQuiz-container button:hover span::after {
    height: 100%;
}

.startQuiz-container button::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

.startQuiz-container button span::after{
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

.startQuiz-container button::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

.startQuiz-container button span::before{
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

/*******  Navigation Bar  ******/

.navbar {
    position: absolute;
    background: var(--tertiary);
    padding: 15px;
    height: fit-content;
    width: 100%;
    max-height: 300px;
}

/***** Username Form *****/

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 30px;
    transform: translate(-50%, -50%);
    background: var(--secondary);
    box-shadow: 0 15px 25px rgba(143,124,236,0.7);
    border-radius: 10px;
}

.login-box h2, .selectTopic-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: var(--text-primary);
    text-align: left;
}

.login-box .username-box input {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-primary);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--text-primary);
    outline: none;
    background: transparent;
}

.login-box .username-box label {
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-primary);
    pointer-events: none;
    transition: 0.5s;
}

.login-box .username-box input:focus~label{
    top: -85px;
    left: 0;
    color: var(--form-hideText);
    font-size: 12px;
}

.button-form #submit {
    padding: 10px 20px;
    color: var(--submit-color);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    border: 1px solid var(--form-hideText);
    margin: auto;
}

#submit:hover {
    background: var(--form-hideText);
    color: var(--text-primary);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--form-hideText), 0 0 25px var(--form-hideText), 0 0 50px var(--form-hideText), 0 0 100px var(--form-hideText)ñ
}

.button-form {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

/***** Select Topic *****/

.selectTopic-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 30px;
    transform: translate(-50%, -50%);
    background: var(--secondary);
    box-shadow: 0 15px 25px rgba(143,124,236,0.7);
    border-radius: 10px;
}

ul.boxs-container {
    list-style: none;
    padding: 20px;
}

ul.boxs-container li {
    display: inline;
}

ul.boxs-container li label {
    display: inline-block;
    background-color: var(--dark);
    border: 1px solid var(--form-hideText);
    color: var(--form-hideText);
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s;
    padding: 8px 12px;
    cursor: pointer;
}

ul.boxs-container li label:hover{
    border: 1px solid var(--text-primary);
}

ul.boxs-container li input[type="checkbox"]:checked+label {
    border: 1px solid var(--form-hideText);
    background-color: var(--form-hideText);
    color: var(--text-primary);
    transition: all 0.2s;
}

ul.boxs-container li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.selectTopic-container{
    align-content: center;
}

/***** Question *****/

.question-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 60%;
    padding: 30px;
    transform: translate(-50%, -45%);
    background: var(--secondary);
    box-shadow: 0 15px 25px rgba(143,124,236,0.7);
    border-radius: 10px;
}

.question-box label{
    color: var(--text-primary);
}

.question-box progress{
    width: 100%;
    height: 20px;
    margin-bottom: 40px;
}

.question-box h2 {
    margin: 0 0 30px;
    padding: 0;
    size: 32px;
    color: var(--text-primary);
    text-align: left;
}

.question-box .spacer{
}

.question-box .button-container{
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 25px;
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    padding-right: 30px;
}

.singleButton-container {
    width: 400px;
    height: 60px;
}

.btn {
    border: none;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 64;
    height: 60px;
    width: 400px;
    padding: 0 20px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
    background: rgba(0,0,0,0.15);
}

.btn-1 {
    background: #3498db;
    color: #fff;
}

.btn-1:hover {
    background: #2980b9;
}

.btn-1:active {
    background: #2980b9;
    top: 2px;
}

.btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Button 2 */
.btn-2 {
    background: #2ecc71;
    color: #fff;
}

.btn-2:hover {
    background: #27ae60;
}

.btn-2:active {
    background: #27ae60;
    top: 2px;
}

.btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Button 3 */
.btn-3 {
    background: #e74c3c;
    color: #fff;
}

.btn-3:hover {
    background: #c0392b;
}

.btn-3:active {
    background: #c0392b;
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Button 4 */
.btn-4 {
    background: #34495e;
    color: #fff;
}

.btn-4:hover {
    background: #2c3e50;
}

.btn-4:active {
    background: #2c3e50;
    top: 2px;
}

.btn-4:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/***** Correct Answer *****/

.check-img{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,0);
    height: 30%;
}

.correctAnswer{
    color: var(--text-primary);
    font-size: 42px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,0);
}

.continueButton {
    position: absolute;
    background: #27ae60;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    bottom: 5%;
    right: 3%;
    height: 45px;
    width: 120px;
    color: var(--text-primary);
}

/***** Wrong Answer *****/

.wrongAnswer{
    color: var(--text-primary);
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%,0);
}

.wrongAnswerCorrection {
    color: var(--text-primary);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,0);
}

/***** Results *****/

.results-box {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 70%;
    height: auto;
    padding: 30px;
    transform: translate(-50%, 0);
    background: var(--secondary);
    box-shadow: 0 15px 25px rgba(143,124,236,0.7);
    border-radius: 10px;
    color: var(--text-primary);
}

.results-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 25px;
}

.username-display {
    text-align: center;
}

.score-display {
    text-align: center;
}

.resultsQuestions-grid {
    background: black;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 80%;
    display: grid;
    border: 5px var(--form-hideText);
    grid-template-columns: 95%;
    grid-gap: 10px;
}

.questionAnswer-display {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 90%;
    background: var(--tertiary);
}

.questionAnswer-display h3{
    padding-bottom: 10px;
}

/*
.question-box button {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: 32px;
    cursor: pointer;
    margin: 10px 10px;
    background: #1A2929;
}

.question-box button span {
    display: block;
    padding: 15px 60px;
}

.question-box button::before,
.question-box button::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--button-anim-color);
}

.question-box button span::before,
.question-box button span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--button-anim-color);
}

.question-box button:hover::before,
.question-box button:hover::after {
    width: 100%;
}

.question-box button:hover span::before,
.question-box button:hover span::after {
    height: 100%;
}

.question-box button::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

.question-box button span::after{
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

.question-box button::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

.question-box button span::before{
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}
*/