<div class="team-grid" style="margin-top: 50px";>
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Team</h2>
      <p class="text-center">We love coding, at the end life it’s all 0’s and 1’s</p>
    </div>
    <div class="row" style="margin-top: 120px; display: flex; justify-content: space-around;">
      <div class="col-md-6 col-lg-4 item">
        <div class="box" style="background-image:url('images/carlos.png')">
          <div class="cover">
            <h3 class="name">Francisco Murillo</h3>
            <p class="title">ISC</p>
            <div class="social">
              <a href="https://github.com/CarlosMtz98"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/cmrrdz"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="box" style="background-image:url('images/paco.jpeg')">
          <div class="cover">
            <h3 class="name">Francisco Murillo</h3>
            <p class="title">ISC</p>
            <div class="social">
              <a href="https://github.com/PaxxonML"><i class="fa fa-github"></i></a>
              <a href="https://www.linkedin.com/in/paco-murillo"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>