<div class="container">
  <div class="row align-content-center h-100" style="min-height: 500px">
    <div class="col"></div>
    <div class="col text-center">
      <form method="POST" action="/getUsername">
        <div class="mb-3">
          <label for="username" class="form-label"><h2>Type your name</h2></label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <button type="submit" class="btn btn-primary" id="usernameBtn">Submit</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>