
<div class="jumbotron" style="margin-top: 60px;">
  <h1 class="display-4">Welcome, glad to see you again 👋</h1>
  <p class="lead">This is web application that will challenge your knowledge about <strong>design patterns</strong> and <strong>refactoring</strong></p>
  <hr class="my-4">
  <p>To start practicing you can start a new quiz, wish you the best luck</p>
  <a class="btn btn-outline-primary" href="/getUsername" role="button">Start Quiz</a>
  <a class="btn btn-outline-primary" href="/about" role="button">Learn about the team</a>
</div>