<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quiz App</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>
<div class="navbar">
  <div style="text-align: center" class="logo">
    <h1>Quiz App</h1>
  </div>
</div>
<div style="color: white; text-align: center; position: absolute; top: 25%; left: 50%; transform: translate(-50%,0)" class="username-display">
  <h2>Welcome <%= @username %>!</h2>
</div>
<div class="selectTopic-box">
  <h2 style="text-align: center">Select Topic</h2>
  <div class="selectTopic-container">
    <ul class="boxs-container">
      <li><input type="checkbox" id="checkbox-1" value="DesignPatterns"><label for="checkbox-1">Design Patterns</label></li>
      <li><input type="checkbox" id="checkbox-2" value="Refactoring"><label for="checkbox-2">Refactoring</label></li>
      <li><input type="checkbox" id="checkbox-3" value="Random"><label for="checkbox-3">Random</label></li>
    </ul>
  </div>
  <div class="button-form">
    <a id="submit" href="/chooseTopic">Start</a>
  </div>
</div>
</body>
</html>