<div class="container">
  <div class="row align-items-end" style="min-height: 300px">
    <div class="col"></div>
    <div class="col text-center">
      <h2>Welcome <%= @quizModel.username %>!</h2>
      <br>
      <h3>Select Topic</h3>
    </div>
    <div class="col"></div>
  </div>
  <div class="row align-items-center" style="min-height: 150px">
    <div class="col"></div>
    <div class="col text-center">
      <form method="POST" action="/startQuiz">
        <div class="row">
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="DesignPatterns" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Design Patterns</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="Refactoring" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Refactoring</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" value="Random" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Random</label>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col"><button type="submit" class="btn btn-primary" id="usernameBtn" style="margin-top: 20px">Submit</button></div>
          <div class="col"></div>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>