<div class="login-box">
  <h2>Enter details:</h2>
  <form>
    <div class="username-box">
      <%= form_with url:"/chooseTopic", method: :get do |form| %>
        <%= form.text_field :username %>
        <label>Username</label>
        <%= form.submit %>
      <% end %>
        <!--
      <input type="text" name="username">
      <label>Username</label>
      <div class="button-form">
        <a id="submit" href="/chooseTopic">Submit</a>

      </div>
      -->
    </div>
  </form>
</div>