<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quiz App</title>
  <link rel="stylesheet" type="text/css" href="pruebas/stylesheets/styles.css">
</head>
<body>
  <div class="navbar">
    <div style="text-align: center" class="logo">
      <h1>Quiz App</h1>
    </div>
  </div>
  <div class="startQuiz-container">
    <a href="/startQuiz">
      <button>
        <span>Start Quiz</span>
      </button>
    </a>
  </div>
</body>
</html>