<div class="container">
  <div class="row align-content-center h-100" style="min-height: 500px">
    <div class="col"></div>
    <div class="col text-center">
          <a class="btn btn-outline-primary" href="/getUsername" role="button">Start Quiz</a>
    </div>
    <div class="col"></div>
  </div>
</div>